<div class="fondo-pantalla">
    <form>
        <h1>Busqueda por tabla</h1>
        <input type="text" [(ngModel)]="marca" placeholder="Ingrese una placa " [ngModelOptions]="{standalone: true}">
       
    </form>
@for (item of carros; track item) {
  @if (item.placa_id == marca) {
    <table class="table table-dark">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Placa</th>
            <th>Color</th>
            <th>Año</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{item.marca}}</td>
            <td>{{item.placa_id}}</td>
            <td>{{item.color}}</td>
            <td>{{item.anio}}</td>
            <td>
                <button (click)="eliminar(item.id)">eliminar</button>
                <button [routerLink]="['/editar',item.id]">editar</button>
            </td>
          </tr>
          
        </tbody>
      </table>

  }
 
    

}
<h1>Placas por buscar </h1>
@for (item of carros; track item) {
  <p>{{item.placa_id}}</p>

  
}

