<form (ngSubmit)="editar( formulario )" #formulario="ngForm" class="form-edit">
  <label for="id">Ingresar ID</label>
  <input type="text" name="id" [(ngModel)]="id" class="form-control">

  <label for="marca">Ingresar Nueva Marca</label>
  <input type="text" name="marca" [(ngModel)]="personal.marca" class="form-control">

  <label for="precio">Ingresar el precio del auto</label>
  <input type="text" name="precio" [(ngModel)]="personal.precio" class="form-control">

  <label for="color">Ingresar el nuevo color</label>
  <input type="text" name="color" [(ngModel)]="personal.color" class="form-control">
  
  <label for="placa_id">Ingresar la placa</label>
  <input type="text" name="placa_id" [(ngModel)]="personal.placa_id" class="form-control">
  
  <label for="anio">Ingresar el nuevo Año</label>
  <input type="text" name="anio" [(ngModel)]="personal.anio" class="form-control">
  
  <label for="imagen">Ingresar URL</label>
  <input type="text" name="imagen" [(ngModel)]="personal.imagen" class="form-control">
  
  <button type="submit" class="btn-save">Guardar</button>
</form>
